body{overflow-x:hidden;}
.icon-block{padding:0 15px;}
.icon-block .material-icons{font-size:inherit;}
.no-marg{margin:0;}
.mx-auto{margin:0 auto;}
.progress{height:15px;border-radius:15px;background-color:#ababab;margin:0.5rem 0 1.25rem 0;}
.progress .determinate{border-radius:15px;background-color:#222222;}
.skills{margin-bottom:0;}
.section-title{text-transform:uppercase;font-weight:bold;}
.resume .material-icons{font-size:5rem;}
.side-nav li > a{color:rgba(255,255,255,1);}
.side-nav{background-color:rgba(0,0,0,0.9);}
#what-i-do{background-image:url(../img/shape.jpg);background-size:cover;background-attachment:fixed;background-repeat:no-repeat;background-position:center center;opacity:0;}
.navigator{height:54px;width:54px;margin:0 auto;margin-bottom:-55px;z-index:2;position:relative;}
.to-top{height:54px;width:54px;padding:0px;border-radius:50%;}
.footer-top{margin-top:-33px;margin-bottom:-33px;}
.add-marg-top{margin-top:4rem;}
.add-marg-top .material-icons{vertical-align:middle;}
#portfolio .m4,
#portfolio .l3{padding:0;}
#portfolio{background-color:#fefefe;}
#modal1{max-width:700px;background-color:rgba(0,0,0,0.8);}
#modal2{max-width:400px;background-color:rgba(0,0,0,0.8);width:95%;}
img.materialboxed:hover{}
.resume a{color:#000000;}
.btn-floating{position:fixed;bottom:30px;right:30px;}
.portfolio-items{overflow:hidden;}
.resume{margin-top:2rem}
.spotify-frame{max-width:100%;width:100%;}
@media(min-width:768px){.spotify-frame{padding-left:15px;padding-right:15px}
}
#contact{margin-bottom:-5px;background-image:url(../img/paper.png);background-repeat:no-repeat;background-position:center center;background-size:cover;}
.black-cursor{cursor:url('../img/black-cursor.png'), auto;}
.white-cursor{cursor:url('../img/white-cursor.png'), auto;}
.icon-block h2{margin:2rem 0 0;line-height:2.5rem;}
html{width:100% !important;}
.cd-background-wrapper{display:inline-block;top:45%;position:absolute;left:50%;transform:translate(-50%, -100%);}
.cd-floating-background{position:relative;top:0;left:0;-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);}
.cd-floating-background.is-absolute{position:absolute;}
.cd-floating-background img{display:block;width:100%;-webkit-backface-visibility:hidden;backface-visibility:hidden;background-color:rgba(255, 255, 255, 0.01);}
.cd-floating-background img:not(:first-child){position:absolute;top:0;left:0;}
.cd-floating-background img:first-child{-webkit-transform:translateZ(50px);-ms-transform:translateZ(50px);transform:translateZ(50px);}
.cd-floating-background img:nth-child(2){-webkit-transform:translateZ(290px);-ms-transform:translateZ(290px);transform:translateZ(290px);}
.cd-floating-background img:nth-child(3){-webkit-transform:translateZ(400px);-ms-transform:translateZ(400px);transform:translateZ(400px);}
.no-preserve-3d .cd-floating-background{position:relative;}
canvas{display:block;vertical-align:bottom;}
.count-particles{background:#000022;position:absolute;top:48px;left:0;width:80px;color:#13E8E9;font-size:.8em;text-align:left;text-indent:4px;line-height:14px;padding-bottom:2px;font-family:Helvetica, Arial, sans-serif;font-weight:bold;}
.js-count-particles{font-size:1.1em;}
#stats,
.count-particles{-webkit-user-select:none;margin-top:5px;margin-left:5px;}
#stats{border-radius:3px 3px 0 0;overflow:hidden;}
.count-particles{border-radius:0 0 3px 3px;}
#particles-js{width:100%;padding-top:0px;height:70vh;margin-top:-65px;background:rgb(20,20,20);background:-moz-radial-gradient(center, ellipse cover, rgba(20,20,20,1) 0%, rgba(0,0,0,1) 100%);background:-webkit-radial-gradient(center, ellipse cover, rgba(20,20,20,1) 0%,rgba(0,0,0,1) 100%);background:radial-gradient(ellipse at center, rgba(20,20,20,1) 0%,rgba(0,0,0,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#141414', endColorstr='#000000',GradientType=1);background-size:cover;background-position:50% 50%;background-repeat:no-repeat;}
.transparent{background-color:transparent !important;}
nav{box-shadow:none !important;}
@media(max-width:767px){.cd-background-wrapper{left:40%;}
#particles-js{height:60vh;}
.jiro-title{font-size:1.4rem;}
}
p:selection{background:#15ecdf;}
p:-moz-selection{background:#15ecdf;}